.footer {
  // margin-top: auto;
  // padding: 75px 0 50px;
  background: rgb(5, 0, 0);
  // border-top: 1px solid $accent25;
  color: rgb(255, 255, 255);
  
}

.footer-wrapper {
  // padding: 30px 0;
  display: flex;
  // justify-content: space-between;
}

.footer-item {
  max-width: 100%;
}

.footer-item--logo {
  max-width: 100%;
}

.footer-logo__text {
  margin-top: 0px;
  margin-left: 0px;
  max-width: 50%;
}

.footer-divider {
  &.MuiDivider-root {
    margin: 0px 0;
  }
}

.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social {
  display: flex;
  align-items: center;

}

.footer-social__link {
  margin-left: 0px;
  font-size: $text-md;
}

.footer-newsletter__title {
  // font-weight: 700;
  display: flex;
  align-items: center;
  margin-left: 200px;
  margin-top: 22px;

}

.footer-newsletter__input {
  display: flex;
  align-items: center;
  margin-left: 200px;
}
